/* style.css */
body{
  background: rgb(245,245,245);
  color: pink;
  font-size: 15px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: black;
  font-weight: lighter;
  font-size: 15px;
}
h2 {
  font-family: Courier;
  color: purple;
  font-weight: lighter;
  font-size: 12px;
}
a {
  color: navy;
}
a:hover {
  text-decoration: none;
  color: purple;
  font-size: 8px;
}
